<div class="login shadow container text-center mt-5">
  <div class="row m-0 p-0">
    <div class="fondoBanner col-8">
      <div class="imagenFondo d-flex flex-column align-items-center justify-content-center col-8">
        <div class="d-flex justify-content-center" >
          <h1 class="tituloU">Bienvenido! <br> a </h1>
        </div>
        <img
          src="https://media.discordapp.net/attachments/1122386515734048849/1177403413122781224/Linio_Logo_Oficial.png?ex=65726160&is=655fec60&hm=1b650ceb469ded881b7d92f227d212cdb11587090b58f717a39f1368495c8db5&=&format=webp&width=1200&height=413"
          class="imgTienda" width="400vh">
      </div>
    </div>
    <div class="col-4 d-flex align-items-center justify-content-center">
      <login-box></login-box>
    </div>
  </div>
</div>